<html>
<head>
    <link href="./style/style.css" rel="stylesheet"></style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<title>
</title>
<body>
    <div class="sidenav">
        <p class="roll">1806125</p>
        <a href="/home" >
            <i class="material-icons">home</i>Home
        </a>
        <a href="/about" class="sidechose">
            <i class="material-icons">face</i>About
        </a>
    </div>
    <div class="main">
        <p class="heading">About Me</p>
        <div class="card">
            <div class="container">
                Name:Keshav Agarwal<br>
                Roll: 1806125<br>
                Github Profile: <a href="https://github.com/agarwalkeshav001">https://github.com/agarwalkeshav001</a><br>
                <br><br>
                Projects: 
                <ol>
                    <li>
                        E-commerce Platform:- An E-commerce platform with an admin dashboard to manage products and see order. User can store the products in the cart.
                    </li>
                    <li>
                        Movie Search:- A website which allows user to search for movie or tv-series by name and shows info like cast, director etc.
                    </li>
                </ol>
            </div>
        </div>
        
    </div>
    
</body>
</html>